.grid-container {
	margin: 50px;
	display: grid;
	grid-template: 70px repeat(4, 1fr) / 70% 1fr;
	grid-gap: 15px;
}

.relleno {
	background-color: #d8d8d8;
	padding: 20px;
	grid-area: 1 / 2 / 6 / 3;
}

.card {
	padding: 10px;
}

.card-header {
	font-size: 2rem;
	font-weight: bold;
}

.card-body {
	font-size: 1.3rem;
	height: 20px;
	word-wrap: break-word;
}
