.info-new-header {
	p {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 10px;
	}
	img {
		width: 40%;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
.info-new-body {
	p {
		font-size: 1.3rem;
		margin-bottom: 20px;
	}
}
